.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Log file
*.log

# Maven
target/

#other cvn tools
.svn

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store


# Compiled class file
*.class


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
